org.talend.model/model/Component.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 rel. 3 U (http://www.altova.com) by Rousseau Nicolas (*) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
	<xs:element name="COMPONENT">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="HEADER"/>
				<xs:element ref="DOCUMENTATION"/>
				<xs:element ref="CONNECTORS"/>
				<xs:element ref="PARAMETERS"/>
				<xs:element ref="CODEGENERATION"/>
				<xs:element ref="RETURNS"/>
				<xs:element minOccurs="0" ref="PLUGINDEPENDENCIES"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HEADER">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SIGNATURE" type="xs:string">
					<xs:annotation>
						<xs:documentation>Not used for the moment</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="PLATEFORM" type="xs:string" use="required"/>
			<xs:attribute name="SERIAL" type="xs:string" use="required"/>
			<xs:attribute name="VERSION" type="xs:decimal" use="required"/>
			<xs:attribute name="STATUS" type="xs:string" use="required"/>
			<xs:attribute name="COMPATIBILITY" type="xs:string" use="required"/>
			<xs:attribute name="AUTHOR" type="xs:string" use="required"/>
			<xs:attribute name="RELEASE_DATE" type="xs:string" use="required"/>
			<xs:attribute name="STARTABLE" type="xs:boolean" use="required"/>
			<xs:attribute name="EXTENSION" type="xs:string" use="optional"/>
			<xs:attribute default="true" name="SCHEMA_AUTO_PROPAGATE" type="xs:boolean" use="optional"/>
			<xs:attribute default="true" name="DATA_AUTO_PROPAGATE" type="xs:boolean" use="optional"/>
			<xs:attribute name="HAS_CONDITIONAL_OUTPUTS" type="xs:boolean" use="optional"/>
			<xs:attribute name="IS_MULTIPLYING_OUTPUTS" type="xs:boolean" use="optional"/>
			<xs:attribute default="true" name="VISIBLE" type="xs:boolean" use="optional"/>
			<xs:attribute default="false" name="TSTATCATCHER_STATS" type="xs:boolean" use="optional"/>
			<xs:attribute default="false" name="USE_MERGE" type="xs:boolean" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="DOCUMENTATION">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="URL" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CONNECTORS">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="CONNECTOR">
					<xs:annotation>
						<xs:documentation>BUILTIN can only be used when CTYPE = 'FLOW'</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="NAME" type="xs:string" use="optional"/>
						<xs:attribute name="CTYPE" type="xs:string" use="required"/>
						<xs:attribute name="MAX_INPUT" type="xs:int" use="optional"/>
						<xs:attribute name="MIN_INPUT" type="xs:int" use="optional"/>
						<xs:attribute name="MAX_OUTPUT" type="xs:int" use="optional"/>
						<xs:attribute name="MIN_OUTPUT" type="xs:int" use="optional"/>
						<xs:attribute name="BUILTIN" type="xs:boolean" use="optional"/>
						<xs:attribute name="LINE_STYLE" type="xs:int" use="optional"/>
						<xs:attribute name="COLOR" type="xs:string" use="optional"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PARAMETERS">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="PARAMETER">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" minOccurs="0" name="DEFAULT">
								<xs:annotation>
									<xs:documentation>Used for TEXT or CHECK field</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="IF" type="xs:string" use="optional"/>
											<xs:attribute name="NOT_IF" type="xs:string" use="optional"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element minOccurs="0" ref="ITEMS">
								<xs:annotation>
									<xs:documentation>Used for CLOSED_LIST or TABLE field</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element maxOccurs="unbounded" minOccurs="0" name="TABLE">
								<xs:annotation>
									<xs:documentation>Used only for SCHEMA_TYPE field </xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element maxOccurs="unbounded" minOccurs="0" name="COLUMN">
											<xs:complexType>
												<xs:attribute name="NAME" type="xs:string"/>
												<xs:attribute name="TYPE" type="xs:string"/>
												<xs:attribute name="LENGTH" type="xs:int"/>
												<xs:attribute default="0" name="PRECISION" type="xs:int" use="optional"/>
												<xs:attribute default="false" name="KEY" type="xs:boolean" use="optional"/>
												<xs:attribute default="true" name="NULLABLE" type="xs:boolean" use="optional"/>
												<xs:attribute name="DEFAULT" type="xs:string" use="optional"/>
												<xs:attribute name="PATTERN" type="xs:string" use="optional"/>
												<xs:attribute name="READONLY" type="xs:boolean" use="optional"/>
												<xs:attribute default="false" name="CUSTOM" type="xs:boolean" use="optional"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute default="false" name="READONLY" type="xs:boolean" use="optional"/>
									<xs:attribute name="IF" type="xs:string" use="optional"/>
									<xs:attribute name="NOT_IF" type="xs:string" use="optional"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="NAME" type="xs:string" use="required"/>
						<xs:attribute name="FIELD" type="xs:string" use="required"/>
						<xs:attribute default="3" name="NB_LINES" type="xs:int" use="optional"/>
						<xs:attribute name="NUM_ROW" type="xs:int" use="required"/>
						<xs:attribute default="true" name="SHOW" type="xs:boolean" use="optional"/>
						<xs:attribute default="false" name="REQUIRED" type="xs:boolean" use="optional"/>
						<xs:attribute default="false" name="READONLY" type="xs:boolean" use="optional"/>
						<xs:attribute name="REPOSITORY_VALUE" type="xs:string" use="optional"/>
						<xs:attribute name="SHOW_IF" type="xs:string" use="optional"/>
						<xs:attribute name="NOT_SHOW_IF" type="xs:string" use="optional"/>
						<xs:attribute name="FILTER" type="xs:string" use="optional"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CODEGENERATION">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="TEMPLATES">
					<xs:annotation>
						<xs:documentation>Used only for virtual components</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="TEMPLATE">
								<xs:complexType>
									<xs:sequence>
										<xs:element maxOccurs="unbounded" minOccurs="0" name="LINK_TO">
											<xs:complexType>
												<xs:attribute name="NAME" type="xs:string"/>
												<xs:attribute name="CTYPE" type="xs:string"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="NAME" type="xs:string" use="optional"/>
									<xs:attribute name="COMPONENT" type="xs:string" use="optional"/>
								</xs:complexType>
							</xs:element>
							<xs:element maxOccurs="unbounded" minOccurs="0" name="TEMPLATE_PARAM">
								<xs:complexType>
									<xs:attribute name="SOURCE" type="xs:string" use="optional"/>
									<xs:attribute name="TARGET" type="xs:string"/>
									<xs:attribute name="VALUE" type="xs:string" use="optional"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="INPUT" type="xs:string" use="optional"/>
						<xs:attribute name="OUTPUT" type="xs:string" use="optional"/>
					</xs:complexType>
				</xs:element>
				<xs:element minOccurs="0" name="IMPORTS">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="IMPORT">
								<xs:complexType>
									<xs:attribute name="NAME" type="xs:string"/>
									<xs:attribute name="MODULE" type="xs:string"/>
									<xs:attribute name="MESSAGE" type="xs:string"/>
									<xs:attribute name="REQUIRED" type="xs:boolean"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RETURNS">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" minOccurs="0" name="RETURN">
					<xs:complexType>
						<xs:attribute name="NAME" type="xs:string" use="required"/>
						<xs:attribute name="TYPE" type="xs:string" use="required"/>
						<xs:attribute name="AVAILABILITY" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ITEMS">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="ITEM">
					<xs:annotation>
						<xs:documentation>On TABLE mode:
   - FIELD can be either TEXT, CHECK, CLOSED_LIST, COLUMN_LIST or PREV_COLUMN_LIST
   - VALUE is used for TEXT, CHECK

On CLOSED_LIST mode:
   - FIELD is not used
   - READONLY is not used</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" ref="ITEMS">
								<xs:annotation>
									<xs:documentation>Used for combo box in TABLE field</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="NAME" type="xs:string" use="required"/>
						<xs:attribute name="VALUE" type="xs:string" use="optional"/>
						<xs:attribute name="REPOSITORY_ITEM" type="xs:string" use="optional"/>
						<xs:attribute name="SHOW_IF" type="xs:string" use="optional"/>
						<xs:attribute name="NOT_SHOW_IF" type="xs:string" use="optional"/>
						<xs:attribute default="TEXT" name="FIELD" type="xs:string" use="optional"/>
						<xs:attribute name="READONLY" type="xs:boolean" use="optional"/>
                        <xs:attribute name="FILTER" type="xs:string"/>
                    </xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="DEFAULT" type="xs:string" use="optional"/>
			<xs:attribute default="false" name="BASED_ON_SCHEMA" type="xs:boolean" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PLUGINDEPENDENCIES">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" minOccurs="0" name="PLUGINDEPENDENCY">
					<xs:complexType>
						<xs:attribute name="ID" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
