test/plugins/org.talend.metadata.managment.ui.test/resources/test_xsdAttribute_type.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.domain.com/" xmlns:tns="http://www.domain.com/" elementFormDefault="qualified">
   <element name='test' type='tns:testType'/>
   <complexType name='testType'>
    <simpleContent>
       <extension base="string">
          <attribute name="int-attr" type="int"/>
          <attribute name="long-attr" type="long"/>
       </extension>
    </simpleContent>
   </complexType>
</schema>